<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,0,0" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/style2.css">
  
    <link rel="stylesheet" href="/css/about.css"> 
    <link rel="stylesheet" href="/css/style5.css">
    <link rel="stylesheet" href="/css/trustone.css">
    <link rel="stylesheet" href="/css/trusttwo.css">

    <link
    href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700&family=Outfit&family=Petrona:ital,wght@1,700&family=Poppins:wght@300;400;500;600&display=swap"
    rel="stylesheet">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        .trust1 {
            background-image: url('<%- trust1.signed_url %>');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .trust2 {
            background-image: url('<%- trust2.signed_url %>');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .trust3 {
            background-image: url('<%- trust3.signed_url %>');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .trust4 {
            background-image: url('<%- trust4.signed_url %>');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <div>
        <div class="head">
            <div class="left">
                <div class="logo">
                    <img id="logo" src="/celestial-trust-network-favicon-white.png" alt="" style="width: 50px; height: 50px; padding-top: 10px" />
                </div>
    
                <div class="title">
                    <p>Celestial Trust NetWork</p>
                </div>
            </div>
            <div class="right">
                <div class="navlink">
                    <a href="index">Home</a>
                </div>
                <div class="navlink">
                    <a href="about">About</a>
                </div>
                <div class="navlink">
    
                    <a href="#" class="get-involved">Get Involved</a>
                    <ul class="dropdown">
                        <li id="dropdown-list-choice"><a href="/trustOne">Volunteer</a></li>
                        <li id="dropdown-list-choice"><a href="/donation">Donate</a></li>
                    </ul>
    
                </div>
                <div class="navlink">
                    <a href="account.html">Projects</a>
                </div>
                <div class="navlink">
                    <a href="account.html">My Account</a>
                </div>
                <div class="navlink">
                    <a href="login-sign">SignIn</a>
                </div>
            </div>
        </div>

        <div class="body">
            <div class="body-photo">
                
            </div>

            <div class="rand-space">
                “No act of kindness, no matter how small, is ever wasted.”
            </div>

            <div class="searches_trust">
                <div class="trust-search">
                    <div>
                        <label for="trust-type">Trust Name:</label>
                        <input type="text" name="trust-type" id="trust-type" class="search-by-name">
                    </div>
                    <button class="filter search1">Search</button>
                </div>

                <div class="trust-search">
                    <div>
                        <label for="trust-type">Trust type:</label>
                        <input list="trusts-type" name="trust-type" id="trust-type" class="filter-by-type">
                        <datalist id="trusts-type">
                            <option value="All">
                            <option value="Child Education">
                            <option value="Elder Help">
                            <option value="Orphan Homes">
                            <option value="Women Help">
                        </datalist>
                    </div>
                    <button class="filter filter1">Filter</button>
                </div> 
            </div>


            <div class = "trust-hyperlinks">
                    <div class="t-hy t-hy1">Prev</div>
                    <%- hyperlinks %>
                    <div class="t-hy t-hy1">Next</div>
            </div>

            <div class="trust-display">
                <div class="row top-row-trusts">
                    <div class="trust-window trust1">
                        <div class="trust1_id" style="display: none;"><%= trust1.trust_unique_no %></div>
                        <div class="window-content c1">
                            <div class="content1">
                                <h1><%= trust1.name %></h1>
                                <div class="con1">
                                    <%= trust1.about1 %>
                                </div>
                            </div>
                            <div class="butns butns1">
                                <div class="btns btns1">
                                    <button class="details-btn btn1">Details</button>
                                    <button class="donate-btn d_btn1">Donate</button>
                                </div>
                                <div>
                                    <button class="save-btn s_btn1">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="trust-window trust2">
                        <div class="trust2_id" style="display: none;"><%= trust2.trust_unique_no %></div>
                        <div class="window-content c2">
                            <div class="content2">
                                <h1><%= trust2.name %></h1>
                                <div class="con2">
                                    <%= trust2.about1 %>
                                </div>
                            </div>
                            <div class="butns butns2">
                                <div class="btns btns2">
                                    <button class="details-btn btn2">Details</button>
                                    <button class="donate-btn d_btn2">Donate</button>
                                </div>
                                <div>
                                    <button class="save-btn s_btn2">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bottom-row-trusts">
                    <div class="trust3_id" style="display: none;"><%= trust3.trust_unique_no %></div>
                    <div class="trust-window trust3">
                        <div class="window-content c3">
                            <div class="content3">
                                <h1><%= trust3.name %></h1>
                                <div class="con3">
                                    <%= trust3.about1 %>
                                </div>
                            </div>
                            <div class="butns butns3">
                                <div class="btns btns3">
                                    <button class="details-btn btn3">Details</button>
                                    <button class="donate-btn d_btn3">Donate</button>
                                </div>
                                <div>
                                    <button class="save-btn s_btn3">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="trust-window trust4">
                        <div class="trust4_id" style="display: none;"><%= trust4.trust_unique_no %></div>
                        <div class="window-content c4">
                            <div class="content4">
                                <h1 ><%= trust4.name %></h1>
                                <div class="con4">
                                    <%= trust4.about1 %>
                                </div>
                            </div>
                            <div class="butns butns4">
                                <div class="btns btns4">
                                    <button class="details-btn btn4">Details</button>
                                    <button class="donate-btn d_btn4">Donate</button>
                                </div>
                                <div>
                                    <button class="save-btn s_btn4">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="blocks">
                <div class="foot_logo foot_divs">
                    <div class="title footer_head">
                        <p>Celestial Trust NetWork</p>
                    </div>
                    <div class="foot_quote">
                        <span class="first_line">&#8220;IT'S NOT HOW MUCH WE GIVE</span><br />
                        <span class="second_line">BUT HOW MUCH WE PUT INTO GIVING&#8221;</span><br />
                        <div class="name">
                            <span class="author">--Mother Theresa</span><span class="material-symbols-outlined">
                                cardiology
                            </span><br />
                        </div>
                    </div>
                </div>
                <div class="left_foot foot_divs">
                    <div class="foot_text footer_head">
                        <h4>GET IN TOUCH</h4>
                    </div>
                    <div class="footer_form">
                        <form action="" method="post">
                            <label for="news_letter" id="news_letter_label">Subscribe for our NewsLetter</label><br />
                            <div class="foot_input">
                                <input type="text" placeholder="Name" class="news_letter" />
                            </div>
                            <div class="foot_input">
                                <input type="email" name="news_email" id="news_letter" class="news_letter"
                                    placeholder="Email id" /><button type="submit"
                                    class="sign-in-btn">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="center_foot foot_divs">
                    <div class="footer_head foot_text">
                        <h5>USEFUL LINKS</h5>
                    </div>
                    <ul class="center_list">
                        <li><a href="t&c">Terms and Conditions</a></li>
                        <li><a href="events">Events</a></li>
                        <li><a href="community">Community</a></li>
                        <li><a href="index">Your Account</a></li>
                        <li><a href="index">Support Request</a></li>
                    </ul>
                </div>
                <div class="right_foot foot_divs">
                    <div class="followus">
                        <div class="foot_text text">Follow Us</div>
                        <div class="icons">
                            <ul class="icon_list">
                                <li>
                                    <a href="#" class="text-white"><i class="fa-brands fa-facebook me-2 fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="text-white"><i class="fa-brands fa-whatsapp mx-2 fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="text-white"><i class="fa-brands fa-youtube mx-2 fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="text-white"><i class="fa-brands fa-instagram mx-2 fa-1x"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="contact_us">
                        <div class="foot_text text">Contact us</div>
                        <div class="phone_num">
                            <span class="material-symbols-outlined"> call </span>
                            <span>1223-456-7890</span>
                        </div>
                        <div class="email">
                            <span class="material-symbols-outlined"> Mail </span>
                            <span>summer@trustit.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p id="copyright-p">&copy; 2022 Copyright <a href="#">The make life better</a></p>
            </div>
        </footer>
    </div>

    <script src="js/trustOne.js"></script>
</body>

</html>